{% extends 'back_manage/base.html' %}
{% load static %}

{% block extJS %}
	<script type="text/javascript" src="{% static 'back_static/js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'back_static/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'back_static/js/slide.js' %}"></script>
{% endblock %}

{% block extCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'back_static/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'back_static/css/main.css' %}">
{% endblock %}

{% block content %}

{% endblock %}

