{% extends 'base.html' %}
{% load static %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/order/js/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/common/js/functions.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="order_info" class="container">

    <!--订单编号-->
    <h3>订单编号:</h3>
    {{ order_goods.0.order.o_num }}
    <!--处理结束-->
    <ul>
        {% for order_good in order_goods %}

        <!--所有订单信息展示-->
            <li>
                <!--商品名称展示-->
                {{ order_good.goods.productname }}
                <img src="{{ order_good.goods.productimg }}">

                <span>
                    {{ order_good.goods_num }}件
                    <!-- 数量展示 -->
                </span>
            </li>
        {% endfor %}
        <!--订单处理结束-->

    </ul>
        <!--订单id展示-->
        <button  class="btn btn-success btn-block" orderid="" onclick="changeorderstatus({{ order_goods.0.order_id}})">Alipay</button>

    </div>


{% endblock %}